---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>

    <link rel="icon" href="assets/me.avif">

    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/root.css">
    <link rel="stylesheet" type="text/css" href="assets/css/mobile-main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/pc-main.css">

</head>
<body>
    <div id="mobile---app-side">

    </div>
    <main id="app-main" class="height_inherit">
        {% include mobile_header.html %}
        <div class="shade" id="app-shade" onclick="close_header()"></div>
        <div class="app-body">
            {% include app_side.html %}
            <div class="app-content" id="app-content" onclick="close_header()">
                <div id="page_title"></div>
                {% for navigation_bar in site.navigation_bars %}
                    {% include contents.html content_id=navigation_bar.url block_index=forloop.index %}
                {% endfor %}
            </div>
        </div>
    </main>
</body>

<script src="assets/js/main.js" async></script>


</html>