---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/root.css">
    <link rel="stylesheet" type="text/css" href="assets/css/mobile-main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/pc-main.css">

<!--    <link rel="preload" href="assets/fonts/Geist-Regular.woff2" as="font" crossorigin="" type="font/woff2" />-->
<!--    <link rel="preload" href="assets/fonts/Geist-Regular.woff2" as="font" crossorigin="" type="font/woff2" />-->
<!--    <link rel="preload" href="assets/fonts/ec1a1eae803b668e-s.p.woff2" as="font" crossorigin="" type="font/woff2" />-->
<!--    <link rel="preload" href="assets/fonts/f980ec13b5b5e554.p.woff2" as="font" crossorigin="" type="font/woff2" />-->

<!--    <link rel="preload" href="assets/fonts/Geist-Medium.otf" as="font" crossorigin="" type="font/otf" />-->
<!--    <link rel="preload" href="assets/fonts/Geist-Regular.otf" as="font" crossorigin="" type="font/otf" />-->
<!--    <link rel="preload" href="assets/fonts/SpaceGrotesk-Bold.ttf" as="font" crossorigin="" type="font/otf" />-->
<!--    <link rel="preload" href="assets/fonts/SpaceGrotesk-Medium.ttf" as="font" crossorigin="" type="font/otf" />-->
<!--    <link rel="preload" href="assets/fonts/SpaceGrotesk-Regular.ttf" as="font" crossorigin="" type="font/otf" />-->
<!--    <link rel="preload" href="assets/fonts/SpaceGrotesk-SemiBold.ttf" as="font" crossorigin="" type="font/otf" />-->
<!--    <link rel="preload" href="assets/fonts/SpaceGrotesk-SemiBold.ttf" as="font" crossorigin="" type="font/otf" />-->

</head>
<body>
    <div id="mobile---app-side">

    </div>
    <main id="app-main">
        {% include mobile_header.html %}
        <div class="app-body">
            {% include app_side.html %}
            <div class="app-content" id="app-content" onclick="app_content_click()">
                <div id="page_title"></div>
                {% for navigation_bar in site.navigation_bars %}
                    {% include contents.html content_id=navigation_bar.url block_index=forloop.index %}
                {% endfor %}
            </div>
        </div>
    </main>
</body>

<script src="assets/js/main.js" async></script>


</html>