<div class="mobile_header">
    <div class="mobile_header_icon" onclick="app_header_icon_click()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-command "><path d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"></path></svg>
    </div>
    <div class="mobile_header_name">
<!--            {{ site.author }}-->
    </div>
</div>

