body, html {
    font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    font-size: 14px
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.app-body {
    display: flex;
    height: 100%;
}

.app-side {
    width: 224px;
    min-width: 224px;
    padding: 12px;
    background-color: rgb(250 250 250);
    height: 100%;
    overflow-y: auto; /* 启用纵向滚动条 */
}

.side-author {
    /*display: flex;*/
    padding: 8px;
    display: none;
}

.side-author-head {
    display: flex;
    align-items: center;
}

.side-author-head > img {
    border-radius: 9999px;

}

.side-author-synopsis {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app-side-navigation-bars {
    display: grid;
    /*padding-top: 1rem;*/
}

.app-side-navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    color: #000000;
    text-decoration: unset;
}

.app-side-navigation-bar:hover {
    background: rgba(229 231 235);
}


.gap-0d5 {
    gap: 0.5rem
}

.app-side-navigation-bar > span {
    font-weight: 500;
}


.font-semibold {
    font-weight: 600;
}

.tracking-tight {
    letter-spacing: -.025em;
}

.navigation_bar_url {

}

.navigation_bar_url {
    display: flex;
    align-items: center;
}

.navigation_bar_url > svg {
    width: 16px;
}

.navigation_bar_index {
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    color: #6b7280;
    background: #F3F4F6;
    place-content: center;
    border-radius: 0.25rem;
}

.navigation_bar_click {
    color: #fff;
    background: #000;
}


.font-size-small {
    font-size: var(--font-size-small);
}

.navigation_bar_click_no_hover:hover {
    color: #fff;
    background: #000;
}

