@media screen and (max-width: 1100px) {
    .b_image img {
        height: unset;
    }
    .app-main {
        background-color: #000000;
    }
    .bookmark_block_p {
        flex-direction: column;
    }
    .bookmark_block {
        max-width: unset;
        width: unset;
    }
    #include-bookmark-post-content-block {
      transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1), transform-origin 0.5s cubic-bezier(0.32, 0.72, 0, 1);
        transform: translateX(100%);
        z-index: 99;
    }

    .side_side_ {
        overflow-x: hidden;
    }

    .bookmark_block_p {
        flex-direction:column;
    }
    .bookmark_block {
        max-width: unset;
        width: unset;
    }

    .include-writing-post-content-block {
        padding: 56px 32px
    }
    #include-writing-post-content-block {
        padding: 32px 24px;
        z-index: 99;
        transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1), transform-origin 0.5s cubic-bezier(0.32, 0.72, 0, 1);
        transform: translateX(100%)
    }

    .translateX0d {
        transform: translateX(0%) !important;
    }

    .app-body {
        flex-direction: column;
    }
    .include-writing-post-content-block{
        width: 100%;
    }
    .include-writing {
        width: 100%;
        max-width: unset;
        min-width: unset;
        position: fixed;
    }
    .include-writing-head {
        display: none;
    }
    #app-side {
        border-width: 1px;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        transform: translateY(100%);
    }
    .side-author {
        padding-left: 0px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .side-author-head > img {
        border-width: 1px;
    }

    .mobile_header {
        background-color: #ffffff;
    }

    .app-content {
        background-color: #ffffff;
    }

    #app-content-home {
        padding: 32px 24px;
    }


    #app-content {
        margin-top: 47px;
    }

    .home_writing_post_year {
        display: none !important;
    }

    .home_writing_post_ul {
        gap: 1.25rem;
        border-bottom: 1px solid rgb(229 231 235/ 1)
    }

    .home_writing_post_ul > * {
        border-bottom: unset;
    }

    .home_writing_post_title_ul {
        gap: 1.25rem;
    }

    .mobile_header {
        gap: .25rem;
        align-items: center;
        padding-left: .75rem;
        padding-right: .75rem;
        display: flex;
        position: fixed;
        width: 100%;
        height: 47px;
        border-bottom: 1px solid rgb(229 231 235);
    }

    .mobile_header_icon {
        height: 36px;
        width: 36px;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .mobile_header_name {
        font-weight: 600;
    }

    .app-side {
        border-radius: 12px;
        max-width: 100%;
        min-width: 100%;
        margin-top: 47px;
        height: 80%;
        bottom: 0;
        position: fixed;
        z-index: 3;
    }
}